@model KingdomJoy.Models.DesignationViewModel

@{
    ViewBag.Title = "Member Designtions";
}
<div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item active">Member Designations</span>
    </nav>
</div>
<div class="br-pagetitle">
    <i class="icon icon ion-ios-bookmarks-outline"></i>
    <div>
        <h4>Designations</h4>
        <p class="mg-b-0">Users Designations.</p>
    </div>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <a class="btn btn-primary" href="/admin/creatememberdesignation">Create Designation</a>
        <br />
        <br />
        <table class="table table-bordered table-primary">
            <thead class="thead-colored thead-primary">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Designations)
                {
                    <tr>
                        <td>

                            @item.Name
                        </td>
                        <td>
                            <div class="dropdown">
                                <a href="" class="tx-gray-800 d-inline-block" data-toggle="dropdown">
                                    Actions  <i class="fa fa-angle-down mg-l-10"></i>
                                </a>
                                <div class="dropdown-menu pd-10 wd-50">
                                    <nav class="nav nav-style-1 flex-column">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "nav-link" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class = "nav-link" })
                                    </nav>
                                </div>
                            </div>

                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
</div>
